.productPage-img{
    width: 100%;
    height: auto;
}

.card-background{
    background: none;
    border-style: none;
    margin-top: 50px;
}

.product-button{
    /* line-height: 12px;
    width: 18px;
    margin-top: 1px;
    margin-right: 2px; */
    position:absolute;
    bottom:0;
    right:0;
    z-index: 10;
}

.container-flex{
    justify-content: space-between;
    display: flex;
}

.margin{
    margin:0%;
    padding: 10px;
}

.outline{
    width: 50%;
    float:left
}

.textalign {
    text-align: center;
}

.cardBackground {
    background: none;
    outline: none;
    border: none;
}

.imgOther{
    width: 100px;
    height: auto;
}