/* ALL COMPONENTS */
body {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(200,210,220,1) 0%, rgba(195,200,205,1) 70%, rgba(150,155,160,1) 100%);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/* NAVBAR */
.nav-extend {
  position: absolute;
  width: 100%;
  top: 3.5rem;
  left: 0;
  z-index: 10;
  text-align: right;
  align-items: flex-end;
  overflow-y: hidden;
  height: 8.5rem;
  animation: slidedown 0.3s ease-out;
}

.nav-ext-close {
  animation: slideup 0.3s ease-out;
}

@keyframes slidedown {
  0% { height:0; }
  100% { height:8.5rem; }
}

@keyframes slideup {
  0% { height:8.5rem; }
  100% { height:0; }
}

/* SHOPPING CART SIDEBAR */
.shop-cart-body {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 400px;
  width: 30vw;
  white-space: nowrap;
  padding: 0.2rem 0.5rem;
  overflow-y: auto;
  background-color: rgb(68, 68, 73);
  color: rgb(244, 247, 250);
  z-index: 20;
  animation: sideopen 0.3s;
}

.shop-cart-close {
  animation: sideclose 0.3s;
}

@keyframes sideopen {
  0% { min-width:0; width:0; opacity:0.5; }
  100% { min-width:400px; width:30vw; opacity:1; }
}

@keyframes sideclose {
  0% { min-width:400px; width:30vw; opacity:1; }
  100% { min-width:0; width:0; opacity: 0; }
}

.shop-cart-body::-webkit-scrollbar {
  width: 10px;
}

.shop-cart-body::-webkit-scrollbar-thumb {
  background: rgb(140, 144, 184);
}

.shop-cart-item {
  padding: 0;
  border: none;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  background: none;
  color: rgb(244, 247, 250);
  border-bottom: 1px solid rgb(160, 160, 160);
}

.shop-cart-item a {
  color: rgb(190, 205, 219);
}

.shop-cart-item img{
  max-height: 80px;
}

.checkout-container {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  right: 0.5rem;
  padding-top: 0.4rem;
  border-top: 1px solid rgb(160, 160, 160);
}

.checkout-container .btn {
  width: 100%;
}

.back-cover{
  z-index: 5;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.0.5);
  height: 100vh;
  width: 100vw;
}