.carousel {
    width: 100%;
    height: 70vh;
}

.carousel-inner {
    width: 100%;
    height: 500px;
}

img {
    width: auto;
    height: 500px;
}

.tales {
    width: 100%;
}

p {
    color: white;
}

h5{
    color: white
}